<layout name="layout" />

<script
	src="{$uri}Public/Scripts/PSI/COCompany/RankMainForm.js?dt={$dtFlag}"
	type="text/javascript"></script>
<script
		src="{$uri}Public/Scripts/PSI/COCompany/SelectCreditAssess.js?dt={$dtFlag}"
		type="text/javascript"></script>
<script
		src="{$uri}Public/Scripts/PSI/COCompany/EditForm.js?dt={$dtFlag}"
		type="text/javascript"></script>
<script
		src="{$uri}Public/Scripts/PSI/COCompany/EditRankAssess.js?dt={$dtFlag}"
		type="text/javascript"></script>
<script
	src="{$uri}Public/Scripts/PSI/PurchaseOrder/POEditForm.js?dt={$dtFlag}"
	type="text/javascript"></script>

<script src="{$uri}Public/Scripts/PSI/UX/CellEditing.js?dt={$dtFlag}"
	type="text/javascript"></script>
<script
	src="{$uri}Public/Scripts/PSI/Purchase/PWEditForm.js?dt={$dtFlag}"
	type="text/javascript"></script>
<script
	src="{$uri}Public/Scripts/PSI/Warehouse/WarehouseField.js?dt={$dtFlag}"
	type="text/javascript"></script>

<!--<script src="{$uri}Public/Lodop/LodopFuncs.js?dt={$dtFlag}"
	type="text/javascript"></script>-->

<script>
	Ext.onReady(function() {
		var app = Ext.create("PSI.App", {
			userName : "{$loginUserName}",
			productionName : "{$productionName}"
		});

		var permission = {
			add : "{$add}",
			edit : "{$edit}",
			del : "{$del}",
			commit : "{$commit}",
            creditEdit:"{$creditEdit}",
            creditEditBase:"{$creditEditBase}",
            creditEditAnalysis:"{$creditEditAnalysis}",
            creditEditRisk:"{$creditEditRisk}",
		};

		app.add(Ext.create("PSI.COCompany.RankMainForm", {
			permission : permission
		}));
		app.setAppHeader({
			title : "{$title}",
			iconCls : "PSI-fid2027"
		});
	});
</script>